[Unit]
Description=Lock screen after suspend
Before=sleep.target

[Service]
User=antcc
Type=forking
Environment=DISPLAY=:0
ExecStart=/usr/bin/lock

[Install]
WantedBy=suspend.target
