[Unit]
Description=Timer to list all installed packages. Currently from atom and pacman.

[Timer]
OnActiveSec=1w
OnUnitActiveSec=1w

[Install]
WantedBy=timers.target