[Unit]
Description=Timer to list all installed packages. Currently from atom and pacman

[Timer]
OnCalendar=weekly
Persistent=true

[Install]
WantedBy=timers.target