"*":
  Hydrogen:
    autoScroll: false
    autocomplete: false
    outputAreaDefault: true
    outputAreaDock: true
    outputAreaFontSize: 18
    showAutocompleteFirst: false
  "atom-package-deps":
    ignored: []
  "autocomplete-clang":
    includePaths: [
      "."
      "./include"
      "../include"
    ]
    includeSystemHeadersDocumentation: true
  "autocomplete-latex":
    enableBuiltinProvider: true
  "autocomplete-python":
    extraPaths: "$PROJECT/venv/lib/python3.7/site-packages"
    pythonPaths: "$PROJECT/venv/bin/python3.7"
    useKite: false
    useSnippets: "required"
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "language-gfm"
      "markdown-preview"
      "hidpi"
      "linter-clang"
      "spell-check"
      "linter-markdown"
      "markdown-preview-enhanced"
      "linter-scalac"
      "autocomplete-R"
      "ide-r"
      "python-yapf"
      "atom-ide-ui"
    ]
    projectHome: "/home/antcc/"
    telemetryConsent: "no"
    themes: [
      "nord-atom-ui"
      "nord-atom-syntax"
    ]
    useTreeSitterParsers: false
  docblockr:
    align_tags: "shallow"
    extend_double_slash: false
  editor:
    fontFamily: "Fira Code"
    fontSize: 16
    preferredLineLength: 100
    scrollPastEnd: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabType: "soft"
  "exception-reporting":
    userId: "4c25c82f-d5ef-8215-3f42-253a818b6d69"
  "ftp-remote-edit":
    config: "79b2cf06117458b6d7044d4ed7996b7405fa959b5bac7cc633621c67fc6f54d76ca0ff03646584a418cd13138119c42a8efceea9833ef24a15db4bbbe25ecfbc10f73d7709610f586aa98c2d08f769e750c7fc45421f1aabd86072a887993a7fa1f3d031542a9fa22a381046a6a880141c1f232c8f5214ce75adbe65f609647ecf3ca04144b25f79ec8d428e12c428a221ffaf1e6922a047f2c88377b3f135794bf1691bc4f9e274fcfdad85aa9069c2c29399700beb7479d8d42bf948552b7126d4d68fc05ea4c9131332edc828298a44fdb580ade4c5065d03608a3a9f93be29c89dcd18ec45d248c7d3779668a327e5312b7de6074a5825211650278e93086d8524a684973686cdad3910eecbb0"
    password: "3ba188020d735eb7d06534"
  hidpi:
    manualResolutionScaleFactors: "\"1920x1080\": 1.20"
    reopenCurrentFile: true
    scaleFactor: 1.2
    startupDelay: 100
  "hydrogen-launcher":
    app: "tilix"
  "ide-python":
    pylsPlugins:
      flake8: {}
      pylint:
        enabled: true
  kite:
    enableHoverUI: false
    showWelcomeNotificationOnStartup: false
    startKiteAtStartup: false
  linter:
    lintOnChange: false
  "linter-clang":
    clangIncludePaths: [
      ". ./include"
    ]
  "linter-flake8":
    executablePath: "$PROJECT/.venv/bin/flake8;/home/antcc/.local/bin/flake8"
    ignoreErrorCodes: [
      "E302"
      "E305"
      "E501"
      "E251"
      "W291"
      "E265"
      "W293"
      "W503"
      "E128"
    ]
    maxLineLength: 100
  "linter-gcc":
    gccDefaultCFlags: "-c -Wall-fsyntax-only"
    gccDefaultCppFlags: "-c -Wall -std=c++14 -fsyntax-only"
    gccIncludePaths: " -../include/, include/, ../include/,"
  "linter-python-pep8":
    pep8DirToExecutable: "~/.local/bin/"
  "linter-rust":
    cargoCommand: "build"
    cargoPath: "/usr/bin/cargo"
    rustcPath: "/usr/bin/rustc"
  "linter-scalac":
    lintsOnChange: true
  "linter-ui-default":
    panelHeight: 300
  "markdown-image-paste":
    subfolder: "img"
    use_subfolder: true
  "markdown-preview-enhanced":
    exportPDFPageFormat: "A4"
  minimap:
    adjustMinimapWidthToSoftWrap: false
    moveCursorOnMinimapClick: true
  "platformio-ide-terminal":
    ansiColors:
      normal:
        blue: "#0061cd"
    core:
      mapTerminalsTo: "Folder"
      shell: "/bin/zsh"
      workingDirectory: "Active File"
    style:
      theme: "pro"
  "preview-inline":
    imageBasePath: "img"
  racer:
    racerBinPath: "~/.cargo/bin/racer"
    rustSrcPath: '''
      ~/.rustup/toolchains/nightly-x86_64-unknown-linux-gnu/lib/rustlib/src/rust/src/
      
    '''
  "spell-check":
    grammars: [
      "text.md"
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "source.rst"
      "text.restructuredtext"
      "text.tex.latex"
      "source.python"
      ""
    ]
    locales: [
      "en-US"
      "es-ES"
    ]
  teletype: {}
  welcome:
    showOnStartup: false
".c.source":
  editor:
    autoIndentOnPaste: false
".cpp.source":
  editor:
    autoIndentOnPaste: false
".rust.source":
  editor:
    preferredLineLength: 99
