"*":
  "autocomplete-clang":
    includePaths: [
      "."
      "./include"
      "../include"
    ]
    includeSystemHeadersDocumentation: true
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "language-gfm"
      "markdown-preview"
      "hidpi"
      "linter-clang"
    ]
    projectHome: "/home/antcc/"
    telemetryConsent: "no"
    themes: [
      "one-light-ui"
      "solarized-light-syntax"
    ]
  docblockr:
    align_tags: "shallow"
    extend_double_slash: false
  editor:
    fontSize: 16
    preferredLineLength: 100
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabType: "soft"
  "exception-reporting":
    userId: "4c25c82f-d5ef-8215-3f42-253a818b6d69"
  hidpi:
    manualResolutionScaleFactors: "\"1920x1080\": 1.20"
    reopenCurrentFile: true
    scaleFactor: 1.2
    startupDelay: 100
  linter:
    lintOnChange: false
  "linter-clang":
    clangIncludePaths: [
      ". ./include"
    ]
  "linter-gcc":
    gccDefaultCFlags: "-c -Wall-fsyntax-only"
    gccDefaultCppFlags: "-c -Wall -std=c++11 -fsyntax-only"
  "linter-ui-default":
    panelHeight: 168
  "markdown-preview-enhanced":
    exportPDFPageFormat: "A4"
  minimap:
    adjustMinimapWidthToSoftWrap: false
    moveCursorOnMinimapClick: true
  "platformio-ide-terminal":
    ansiColors:
      normal:
        blue: "#0061cd"
    core:
      mapTerminalsTo: "Folder"
      shell: "/bin/bash"
      workingDirectory: "Active File"
    style:
      theme: "pro"
  teletype: {}
  welcome:
    showOnStartup: false
".c.source":
  editor:
    autoIndentOnPaste: false
".cpp.source":
  editor:
    autoIndentOnPaste: false
