[Unit]
Description=Lock screen after suspend
Before=suspend-then-hibernate.target

[Service]
User=antcc
Type=forking
Environment=DISPLAY=:1
#Environment=XAUTHORITY=/run/user/1000/gdm/Xauthority
ExecStart=/usr/bin/lock

[Install]
WantedBy=suspend-then-hibernate.target
